.product__item__name {
  display: block;
  font-weight: 700;
}

.product__item__price-hld {
  display: inline-block;
  padding-top: 10px;
  color: grey;
}

.product__item__price-txt {
  padding-right: 5px;
  font-size: 80%;
  text-transform: uppercase;
}

.product__item__price-val {
  font-weight: 700;
}